<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">

	<title>Templates - Developer Portal</title>

        <link href="../../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../../css/font-awesome-4.5.0.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/highlight.css">
        <link href="../../iconmoon.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <a class="navbar-brand" href="../..">Developer Portal</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li >
                        <a href="../..">Home</a>
                    </li>
                
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Back End <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../Code Style Guide/">Code Style Guide</a>
</li>

                        
                            
<li >
    <a href="../Models/">Models</a>
</li>

                        
                            
<li >
    <a href="../Scripting/">Scripting</a>
</li>

                        
                            
<li class="active">
    <a href="./">Templates</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Front End <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../Front End/Helpers/">Helpers</a>
</li>

                        
                            
<li >
    <a href="../../Front End/Plugins/">Plugins</a>
</li>

                        
                            
<li >
    <a href="../../Front End/Themes/">Themes</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">References <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../References/Deploying/">Deploying</a>
</li>

                        
                            
<li >
    <a href="../../References/Document Properties/">Document Properties</a>
</li>

                        
                            
<li >
    <a href="../../References/Javadocs/">Javadocs</a>
</li>

                        
                            
<li >
    <a href="../../References/PQL/">PQL</a>
</li>

                        
                            
<li >
    <a href="../../References/esdoc/">Esdoc</a>
</li>

                        
                            
<li >
    <a href="../../References/tools/">Tools</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Remote <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../Remote/API Explorer/">API Explorer</a>
</li>

                        
                            
<li >
    <a href="../../Remote/Browser/">Browser</a>
</li>

                        
                            
<li >
    <a href="../../Remote/DOT Net/">DOT Net</a>
</li>

                        
                            
<li >
    <a href="../../Remote/HTTP Public API/">HTTP Public API</a>
</li>

                        
                            
<li >
    <a href="../../Remote/Java/">Java</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Esign <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../esign/api/">Api</a>
</li>

                        
                            
<li >
    <a href="../../esign/development/">Development</a>
</li>

                        
                            
<li >
    <a href="../../esign/scripting/">Scripting</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Workflow <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../workflow/getting-started/">Getting started</a>
</li>

                        
                            
<li >
    <a href="../../workflow/troubleshooting/">Troubleshooting</a>
</li>

                        
                        </ul>
                    </li>
                
                
                </ul>
            

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                
                    <li >
                        <a rel="next" href="../Scripting/">
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li >
                        <a rel="prev" href="../../Front End/Helpers/">
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                
                
            </ul>
        </div>
    </div>
</div>

        <div class="container">
            
                <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#templates-manager">Templates Manager</a></li>
        
            <li><a href="#template-engines">Template Engines</a></li>
        
            <li><a href="#interface">Interface</a></li>
        
            <li><a href="#layouts">Layouts</a></li>
        
    
    </ul>
</div></div>
                <div class="col-md-9" role="main">

<h1 id="templates-manager">Templates Manager</h1>
<p><code>TemplateManager</code> provides a service to render arbitrary data using one of the available template engines.</p>
<p>The template manager expects that templates are contained in the <code>System/templates</code> node. You should put your templates there either by using the Papertrail UI or by providing them with <a href="Seed files.md">seed files</a>.</p>
<p><strong>Table of Contents</strong></p>
<ul>
<li><a href="#template-engines">Template Engines</a></li>
<li><a href="#interface">Interface</a></li>
<li><a href="#layouts">Layouts</a><ul>
<li><a href="#syntax">Syntax</a></li>
<li><a href="#usage">Usage</a></li>
</ul>
</li>
</ul>
<h2 id="template-engines">Template Engines</h2>
<p>The standard service implementation provides several template engines.<br />
To use a specific engine you should name your template according to an expected file extension.</p>
<p>The list of available template engines (and their corresponding extensions) is the following:</p>
<ul>
<li>
<p><code>FreemarkerTemplate</code> - renders Freemarker (<code>.ftl</code>) templates.</p>
</li>
<li>
<p><code>HtmlTemplate</code> - renders basic <code>.html</code> templates. It supports interpolation for variables such as <code>$(templateVar)</code> that are provided as a template context.</p>
</li>
<li>
<p><code>GroovyTemplate</code> - renders Grails-like <code>.gsp</code> templates. Syntax how-to &amp; samples can be found in the <a href="http://docs.groovy-lang.org/latest/html/documentation/template-engines.html#_simpletemplateengine">Groovy documentation</a>.</p>
</li>
</ul>
<h2 id="interface">Interface</h2>
<p><code>TemplateManager.getTemplate(String name)</code> should be called with the template name (without the <code>System/templates/</code> part - e.g. <code>getTemplate("email-preview.gsp")</code>). The method returns an object that imlements <code>Template</code> interface providing the following methods:</p>
<ul>
<li><code>render(Map context)</code> returns the string with the result of the template rendering.</li>
<li><code>getName()</code>returns the name of the template.</li>
</ul>
<h2 id="layouts">Layouts</h2>
<p>It's possible to use a layout system that takes content sections from a template with a special format and renders it wrapped in a base layout.</p>
<h3 id="syntax">Syntax</h3>
<p>Templates contain several sections that are provided as variables to the layout. Sections must be wrapped in a tag of form  <code>&lt;tpl-section&gt;</code>, where <code>section</code> should be replaced with the variable name.</p>
<p>The layout templates themselves don't support any complex rendering features, and only provide basic interpolation for variables with section contents.</p>
<p>As an example, we could have a layout with the following code:</p>
<pre><code>&lt;body&gt;
  &lt;h1&gt;${title}&lt;/h1&gt;
  &lt;article&gt;${content}&lt;/article&gt;
&lt;/body&gt;
</code></pre>
<p>The templates using this layout must be coded as follows:</p>
<pre><code>&lt;tpl-title&gt;This goes to the title variable&lt;/tpl-title&gt;

&lt;tpl-content&gt;
   This goes to the "content" variable.

   &lt;strong&gt;Also, sections can contain arbitrary HTML code.&lt;/strong&gt;

   And also any template engine specific syntax - e.g. for .gsp templates:

   &lt;ul&gt;
     &lt;% for (number in [1,2,3]) { %&gt;
     &lt;li&gt;${number}&lt;/li&gt;
     &lt;% } %&gt;
   &lt;/ul&gt;
&lt;/tpl-content&gt;
</code></pre>
<h3 id="usage">Usage</h3>
<p>If you want to use the layout system, you should first add your layout files to the <code>System/templates/layouts</code> node.</p>
<p>Then, to use one of the available layouts, name your template file in format of  <code>&lt;template_path&gt;_&lt;layout&gt;.&lt;extension&gt;</code>. E.g., you want to use a <code>notification</code> layout  for your template named <code>account-signup.gsp</code> - in this case you must name your template as <code>account-signup_notification.gsp</code>.</p>
<p>The layout logic then works as follows:</p>
<p><img alt="Layouts Flow" src="../images/templates-layouts.png?raw=true" /></p></div>
            
        </div>

        <footer class="col-md-12">
            <hr>
            
                <p>Copyright &copy; 2016 Egis Software</p>
            
            <p>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>

        <script src="../../js/jquery-1.10.2.min.js"></script>
        <script src="../../js/bootstrap-3.0.3.min.js"></script>
        <script src="../../js/highlight.pack.js"></script>
        <script>var base_url = '../..';</script>
        <script data-main="../../mkdocs/js/search.js" src="../../mkdocs/js/require.js"></script>
        <script src="../../js/base.js"></script>
        <script src="../../extra.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            From here you can search these documents. Enter
                            your search terms below.
                        </p>
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                            </div>
                        </form>
                        <div id="mkdocs-search-results"></div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
